<template>
    <div>
        <h2 class="header">For {{ countSelectedSubscribers }} subscribers:</h2>

        <div class="message-box form-group">
            <textarea class="form-control" :class="{'is-invalid': errors.message}"
                      v-model="message" placeholder="Write message..."></textarea>
            <div v-if="errors.message" class="invalid-feedback">
                {{ errors.message[0] }}
            </div>
        </div>
        <button class="back" @click="back()"><span>Back</span></button>
        <button @click="send()"><span>Send</span></button>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import { mailingAPI } from './../../api/mailing';
    import { mapState } from 'vuex';

    export default {
        data: () => ({
            message: '',
        }),
        mixins: [mailingAPI],
        methods: {
            send() {
                if(!this.message) {
                    Swal({
                        title: 'Please, enter a message',
                        type: 'error',
                    });
                    return;
                }

                this.sendAPI(this.mailingData).then(response => {
                    this.$toaster.success('Successful');
                });
            },
            back() {
                this.$emit('goTo', 'selection');
            },
        },
        computed: {
            mailingData() {
                return {
                    'message': this.message,
                    'subscribers': this.selectedSubscribers,
                    'sendToAll': this.sendToAll,
                };
            },
            countSelectedSubscribers() {
                if(this.sendToAll) return 'all';
                else return this.countRecipients;
            },
            ...mapState('mailing', {
                sendToAll: state => state.sendToAll,
                countRecipients: state => state.countRecipients,
                selectedSubscribers: state => state.selectedSubscribers,
            }),
        }
    }
</script>