<template>
    <div class="selection">
        <div><h2 class="header">Telegram subscribers [{{ totalSubscribers }}]</h2></div>
        <div class="subscribers-box">
            <div v-for="subscriber in subscribers" :key="subscriber.id">
                <input
                        type="checkbox"
                        :id="`subscriber_${subscriber.id}`"
                        @change="changeSubscriber(subscriber.id)"
                        :checked="isSelected(subscriber.id)"
                        :disabled="sendToAll"
                >
                <label :for="`subscriber_${subscriber.id}`">
                    {{ subscriber.first_name }} {{ subscriber.last_name }} ({{ subscriber.id }})
                </label>
            </div>
        </div>

        <pagination :data="subscribersPaginator" @pagination-change-page="fetchSubscribers"></pagination>

        <div>
            <input
                    type="checkbox"
                    id="send-to-all"
                    @change="changeSendToAll()"
                    :checked="sendToAll"
            >
            <label for="send-to-all">Send to all</label>
        </div>

        <div>
            <button class="back" @click="clearSelected()"><span>Delete selected [{{ countRecipients }}]</span></button>
            <button @click="sendToSelected()"><span>Send message to selected [{{ countRecipients }}]</span></button>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import {subscribersAPI} from './../../api/subscribers';
    import { mapGetters, mapState, mapMutations } from 'vuex';

    export default {
        data: () => ({
            subscribersData: {},
        }),
        mixins: [subscribersAPI],
        methods: {
            fetchSubscribers(page = 1) {
                this.fetchAPI(page).then(response => {
                    this.setSubscribersPaginator(response.data);
                });
            },
            sendToSelected() {
                if (!this.countRecipients) {
                    Swal({
                        title: 'Please, select subscribers',
                        type: 'warning',
                    });
                    return;
                }
                this.$emit('goTo', 'message');
            },
            clearSelected() {
                Swal({
                    title: 'Confirm',
                    text: 'Do you really want to delete?',
                    type: 'warning',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    showCancelButton: true,
                }).then((response) => {
                    if (response.value) this.deleteSelected();
                });
            },
            ...mapMutations('mailing', [
                'setSubscribersPaginator', 'changeSubscriber', 'deleteSelected', 'changeSendToAll'
            ])
        },
        computed: {
            ...mapGetters('mailing', [
                'totalSubscribers', 'subscribers', 'isSelected'
            ]),
            ...mapState('mailing', {
                subscribersPaginator: state => state.subscribersPaginator,
                countRecipients: state => state.countRecipients,
                sendToAll: state => state.sendToAll,
            }),
        },
        created() {
            this.fetchSubscribers();
        }
    }
</script>