// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~axios-progress-bar/dist/nprogress.css';
@import '~v-toaster/dist/v-toaster.css';

#app {
  .main-box {
    .logo-box {
      margin: 20px 0;
    }

    .mailing {
      .card-header {
        background-color: #0088cc;
        color: #ddd;
        font-weight: 600;
      }

      .header {
        color: #0088cc;
        padding: 10px 0;
      }

      .selection {
        .subscribers-box {
          margin-bottom: 20px;

          input[type="checkbox"]:checked+label {
            color: #0088cc;
          }
        }
      }

      button {
        //width: 130px;
        height: 40px;
        background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
        border: none;
        border-radius: 5px;
        position: relative;
        border-bottom: 4px solid #2b8bc6;
        color: #fbfbfb;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        text-shadow: 1px 1px 1px rgba(0,0,0,.4);
        font-size: 15px;
        text-align: left;
        text-indent: 5px;
        box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
        cursor: pointer;

        span {
          padding: 0 30px 0 0;
        }
      }

      button:after {
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-top: 20px solid #0088cc;
        border-bottom: 20px solid #0088cc;
        border-left: 16px solid transparent;
        border-right: 20px solid #0088cc;
        position: absolute;
        opacity: 0.6;
        right: 0;
        top: 0;
        border-radius: 0 5px 5px 0;
      }

      button.back {
        text-align: right;
        padding-right: 12px;
        box-sizing: border-box;

        span {
          padding: 0 0 0 30px;
        }
      }
      button.back:after {
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-top: 20px solid #0088cc;
        border-bottom: 20px solid #0088cc;
        border-right: 16px solid transparent;
        border-left: 20px solid #0088cc;
        position: absolute;
        opacity: 0.6;
        left: 0;
        top: 0;
        border-radius: 5px 0 0 5px;
      }

      .message-box {
        margin-bottom: 30px;
      }
    }
  }
}


