<template>
    <div class="container main-box">
        <div class="row justify-content-center logo-box">
            <div class="col-md-12 text-center">
                <img src="/img/logo.png" width="100" height="100" alt="logo">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <mailing></mailing>
            </div>
        </div>
    </div>
</template>

<script>
    import Mailing from './Mailing/Index';

    export default {
        components: {Mailing},
    }
</script>